<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | eLearning</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar-expand-lg navbar-dark navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Account")">
                <img src="~/logo.png" alt="">
                eLearning
            </a>
            <div class="dropdown">
                <div class="dropdown-toggle user-menu" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                    <span class="username">@ViewBag.Username</span>
                    <div class="user-avatar">
                        <img src="https://sun9-48.userapi.com/c851524/v851524794/3378a/L8cvgao2bqI.jpg" alt="">
                    </div>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">My profile</button>
                    <button class="dropdown-item" type="button">Log out</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <!--SIDEBAR-->
            <ul class="sidebar col-md-2">
                <li class="sidebar__element"><a href="@Url.Action("Index", "Account")">My profile</a></li>
                <li class="sidebar__element"><a href="@Url.Action("Index", "Courses")">Courses</a></li>
                <li class="sidebar__element"><a href="#">Marks</a></li>
                <li class="sidebar__element"><a href="@Url.Action("Schedule", "Account")">Schedule</a></li>
                <li class="sidebar__element"><a href="#">Teachers</a></li>
            </ul>
            <!--CONTENT-->
            @RenderBody()
        </div>
        
        
        
        
    </div>





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>